fastapi
uvicorn
JPype1
python-multipart
pydantic-settings
langchain-text-splitters
langchain-core
loguru
numpy<2.0
sentence-transformers
openai>=1.0.0
faiss-cpu
chromadb==0.4.24
pymysql

pydantic==2.5.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==1.0.0
redis==5.0.1
celery==5.3.4
flower
aiofiles==23.2.1

